@import "variable";
@import "bootstrap";
@import "bootstrap/theme";

// header and navigation
.fill{
  background: $color-accent;
  transition-duration:0.5s;
}
header{
  transition-duration:0.5s;
  // background: $color-accent;
  position: fixed;
  z-index: 99;
  top:0px;
  left:0px;
  right:0px;

  padding:20px 0; 
}

// ukuran default
.width-default{
  @extend .col-md-10;
  @extend .col-md-offset-1;
}

#logo{
  margin:0;
  @extend .pull-left;
  img{
    width:60px;
  }
  @media #{$tablet-breakpoint} {
    float: none !important;
    text-align: center;
  }
}
nav{
  display: block;
  @media #{$tablet-breakpoint} {
    display: none;
    position: fixed;
    overflow: hidden;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: $color-accent;

    li{
      float: left;
      clear: left;
      line-height: 3.5em;
      border-bottom: solid 1px #fff;
      a{
        font-size: 2em !important;
      }
    }
  }
  @extend .pull-right;
  ul{
    margin:16px 0;
    padding:0;
  }
  li{
    margin-left: 20px;
    display: inline-table;
    a{
      transition-duration:0.5s;
      font-size: 16px;
      color:darken(#fff,10%);
      text-transform: uppercase;

      text-shadow: 0 0 5px #000;
      &:hover{
        color:#fff;
        text-decoration: none;
      }
    }
  }
}

// respinsive btn
#resp-btn {
  display: none;
  @media #{$tablet-breakpoint} {
    display: block;
  }
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 30px;
  right: 15px;
  transition-duration: .5s;
  z-index: 9999;
  .icon-circle{
    cursor: pointer;
    background: $color-accent;
    box-shadow: 0 0 10px #444;
    transition-duration: .5s;
    position: absolute;
    height: 60px;
    width: 60px;
    top: 2px;
    border-radius: 100%;
    border: 2px solid #fff;
    left: -15px;
  }
  .icon{
    // normal icon
    transition-duration: .5s;
    position: absolute;
    height: 2px;
    width: 30px;
    top: 30px;
    background-color: #fff;

    &:before{
      transition-duration:.5s;
      position:absolute;
      width:30px;
      height:2px;
      background-color:#fff;
      content:"";
      top:-10px;
    }

    &:after{
      transition-duration:.5s;
      position:absolute;
      width:30px;
      height:2px;
      background-color:#fff;
      content:"";
      top:10px;}
  }
  
  // resp menu open
  &.open{
    .icon{
      transition-duration:.5s;
      background:transparent
    }

    .icon:before{
      transform:rotateZ(45deg) scaleX(1.25) translate(6.5px,6.5px)
    }
    .icon:after{
      transform:rotateZ(-45deg) scaleX(1.25) translate(6px,-6px)
    }
  }
}



// default box format #muslih
.box-center{
  text-align: center;
  padding:15px 0;
}

@import "slide";

#title{
  @extend .box-center;
}

#galeri{
  @extend .box-center;
  background: rgba($color-accent,0.08);
}

.galeri-list-thumb{
  padding:5px;
  margin-bottom: 25px;
  background: #fff;
  border:solid 1px darken(#fff,10%);
  img{
    width: 100%;
  }
}

#video{
  @extend .box-center;
}

#kontak{
  @extend .box-center;
  background: #eee;
}

footer{
  @extend .box-center;
  background: darken(#eee,10%);
}
