@import "variable";
@import "bootstrap";
@import "bootstrap/theme";

// header and navigation
header{
  background: blue;
  overflow: hidden;
  position: fixed;
  z-index: 99;
  top:0px;
  left:0px;
  right:0px;

  padding:15px 0; 
}

.width-default{
  @extend .col-md-10;
  @extend .col-md-offset-1;
}
#logo{
  margin:0;
  @extend .pull-left;
  img{
    width:60px;
  }
}
nav{
  @extend .pull-right;
  ul{
    margin:16px 0;
    padding:0;
  }
  li{
    margin-left: 20px;
    display: inline-table;
    a{
      font-size: 18px;
    }
  }
}

.navbar-default {
  background: transparent;
  border-color: transparent;

  .navbar-toggle {
    @media #{$tablet-breakpoint} {
      margin-top: 45px;
    }
  }

  .navbar-nav {
    margin: 35px 100px 0;
    li {
      &.active {
        a {
          color: $color-text;
          text-decoration: underline;
          background: transparent;

          &:hover {
            background: transparent;
            color: $color-accent;
          }
        }
      }
      a {
        color: $color-text;
        &:hover {
          color: $color-accent;
        }
      }
    }
    @media #{$tablet-breakpoint} {
      margin: 0;
      background-color: $color-dark-opaque;
    }
  }
}

.logo {
  img {
    margin: 15px 0 0 100px;
    width: auto;
    height: 48px;
  }
  @media #{$tablet-breakpoint} {
    img {
      margin: 15px 0 0 15px;
    }
  }
}

.box-center{
  text-align: center;
  padding:15px 0;
}

// muslih
@import "slide";

#title{
  @extend .box-center;
}

#galeri{
  @extend .box-center;
  background: rgba($color-accent,0.08);
}

#video{
  @extend .box-center;
}

#kontak{
  @extend .box-center;
  background: #eee;
}

footer{
  @extend .box-center;
  background: darken(#eee,10%);
}
