@import "variable";
@import "bootstrap";
@import "bootstrap/theme";

// header and navigation
header{
  // background: $color-accent;
  overflow: hidden;
  position: fixed;
  z-index: 99;
  top:0px;
  left:0px;
  right:0px;

  padding:15px 0; 
}

// ukuran default
.width-default{
  @extend .col-md-10;
  @extend .col-md-offset-1;
}

#logo{
  margin:0;
  @extend .pull-left;
  img{
    width:60px;
  }
  @media #{$tablet-breakpoint} {
    float: none !important;
    text-align: center;
  }
}
nav{
  @media #{$tablet-breakpoint} {
    display: none;
  }
  @extend .pull-right;
  ul{
    margin:16px 0;
    padding:0;
  }
  li{
    margin-left: 20px;
    display: inline-table;
    a{
      transition-duration:0.5s;
      font-size: 18px;
      color:darken(#fff,10%);

      text-shadow: 0 0 5px #000;
      &:hover{
        color:#fff;
        text-decoration: none;
      }
    }
  }
}


// default box format #muslih
.box-center{
  text-align: center;
  padding:15px 0;
}

@import "slide";

#title{
  @extend .box-center;
}

#galeri{
  @extend .box-center;
  background: rgba($color-accent,0.08);
}

#video{
  @extend .box-center;
}

#kontak{
  @extend .box-center;
  background: #eee;
}

footer{
  @extend .box-center;
  background: darken(#eee,10%);
}
